@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'),
       local('IBMPlexMono'),
       url('./typefaces/ibm_plex_mono/IBMPlexMono-Regular.ttf') format('truetype');
}
