.bookmarks-bar {
  height: 40px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 1000;

  .button {
    background-color: $default-white;
    color: $default-grey;
    cursor: pointer;
    fill: $default-grey;
    float: left;
    font-size: 11.5px;
    height: 1rem;
    left: 8px;
    line-height: 1rem;
    // margin: 0 9px 0 0;
    padding: 0 1em;
    position: relative;
    top: 9px;
    transition: all $default-timing $default-easing;

    &:hover {
      color: $default-black;
      fill: $default-black;

      path {
        color: $default-black;
        fill: $default-black;
      }
    }

    path {
      color: $default-grey;
      fill: $default-grey;
    }

    &.app-return,
    &.preferences-return {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  .label {
    display: inline-block;
    font-family: inherit;
    font-size: 11.5px;
    font-weight: bold;
    height: 24px;
    left: 4px;
    line-height: 24px;
    margin-right: 9px;
    padding: 0;
    position: relative;
    text-align: left;
    top: 0;
    user-select: none;
  }

  .icon {
    cursor: default;
    display: flex;
    float: left;
    font-size: 20px;
    height: 20px;
    left: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: 20px;
  }
}
