$default-black: rgb(15, 15, 30);
$default-grey: #9e9e9e;
$default-grey-light: rgba($default-black, .15);
$default-grey-dark: rgba($default-black, .65);
$default-white: #fff;

$default-timing: 200ms;
$default-easing: ease-in-out;
