@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'),
       local('SpaceMono-Regular'),
       url('./typefaces/space_mono/SpaceMono-Regular.ttf') format('truetype');
}
