@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Space+Mono|Material+Icons');
@import url('typefaces/evolventa/evolventa.css');
@import url('typefaces/unscii/unscii.css');

@import 'sass/variables';
@import 'sass/mixins';
@import 'sass/attributes';
@import 'sass/preferences';
@import 'sass/bookmarks-bar';
@import 'sass/pattern';



body,
html {
  @media screen and (max-height: 768px) {
    font-size: 46px;
  }

  // font-family: 'Anonymous Pro', monospace;
  // font-family: 'Space Mono', monospace;
  font-family: 'Roboto Mono', monospace;
  // font-family: 'Unscii';
  font-size: 6vh;
  overflow: hidden;
  text-align: center;
}

a {
  color: $default-white;

  &.no-underline {
    text-decoration: none;
  }

  &:hover {
    color: rgba(0, 0, 0, .65);
  }

  &:active {
    color: $default-black;
  }
}

sub {
  display: block;
  font-size: .25rem;
  padding-top: .25rem;
}



.cutive {
  font-family: 'Cutive Mono';
}

.evolventa {
  font-family: 'Evolventa';
  width: 1em;
}

.roboto {
  font-family: 'Roboto Mono';
}

.space {
  font-family: 'Space Mono';
}

.unscii {
  -webkit-font-smoothing: none;
  font-family: 'Unscii';
}


.row {
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  // justify-content: space-around;
  width: 100%;

  &:not(:first-child) {
    padding-top: 2rem;
  }
}

.col-1 {
  @media all and (max-width: 768px) {
    flex-basis: 0;
    margin: 0;
  }

  @media all and (max-width: 480px) {
    flex-basis: 100%;
  }

  box-sizing: border-box;
  flex-basis: 8.33333%;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 8.33333%;
}

.col-2 {
  @media all and (max-width: 768px) {
    flex-basis: 0;
    margin: 0;
  }

  @media all and (max-width: 480px) {
    flex-basis: 100%;
  }

  box-sizing: border-box;
  flex-basis: 16.66667%;
  flex-grow: 2;
  flex-shrink: 0;
  min-width: 16.66667%;
}


.col-3 {
  @media all and (max-width: 768px) {
    flex-basis: 0;
    margin: 0;
  }

  @media all and (max-width: 480px) {
    flex-basis: 100%;
  }

  box-sizing: border-box;
  flex-basis: 25%;
  flex-grow: 3;
  flex-shrink: 0;
  min-width: 25%;
}


#forms {
  display: none;
}



@keyframes ani-rotate-clockwise {
  0% {
    transform: rotate(0deg);
    // transform: rotate3d(0, 0, 1, 0deg);
  }

  33% {
    transform: rotate(120deg);
    // transform: rotate3d(0, 0, 1, 120deg);
  }

  66% {
    transform: rotate(240deg);
    // transform: rotate3d(0, 0, 1, 240deg);
  }

  100% {
    transform: rotate(360deg);
    // transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes ani-rotate-counter-clockwise {
  0% {
    transform: rotate(0deg);
    // transform: rotate3d(0, 0, 1, 0deg);
  }

  33% {
    transform: rotate(-120deg);
    // transform: rotate3d(0, 0, 1, -120deg);
  }

  66% {
    transform: rotate(-240deg);
    // transform: rotate3d(0, 0, 1, -240deg);
  }

  100% {
    transform: rotate(-360deg);
    // transform: rotate3d(0, 0, 1, -360deg);
  }
}
